RESTART=<%= source.restart %>
MYSQL_ROOT_PASSWORD=<%= source.password %>
MYSQL_USERNAME=<%= source.users[0].username %>
MYSQL_PASSWORD=<%= source.users[0].password %>
MYSQL_DATABASE=<%= source.users[0].databases[0] %>
MYSQL_PORT=<%= source.port %>
PMA_PORT=80
